#sideMenu
{
	width: 200px;
	max-width:200px;
	position: absolute;
	height:100%;
	top:0;
	left:0;
	z-index:3;
	color:red;
	text-align: center;
}

#profilepic
{
	margin-top: 5px;
}
a:link 
{
	text-decoration:none;
}

a:visited 
{
	text-decoration:none;
}

a:hover
{
	color:red;
}